<%= form_for(film) do |f| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :main_actor %>
    <%= f.text_field :main_actor %>
  </div>

  <div class="field">
    <%= f.label :featured_actor %>
    <%= f.text_field :featured_actor %>
  </div>

  <div class="field">
    <%= f.label :product_title %>
    <%= f.text_field :product_title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :genre_id %>
    <%= f.number_field :genre_id %>
  </div>

  <div class="field">
    <%= f.label :actor_id %>
    <%= f.number_field :actor_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
