<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table>
  <thead>
    <tr>
      <th>Main actor</th>
      <th>Featured actor</th>
      <th>Product title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Actor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.main_actor %></td>
        <td><%= film.featured_actor %></td>
        <td><%= film.product_title %></td>
        <td><%= film.description %></td>
        <td><%= film.genre_id %></td>
        <td><%= film.actor_id %></td>
        <td><%= link_to 'Show', film %></td>
        <td><%= link_to 'Edit', edit_film_path(film) %></td>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path %>
