<p id="notice"><%= notice %></p>

<p>
  <strong>Main actor:</strong>
  <%= @film.main_actor %>
</p>

<p>
  <strong>Featured actor:</strong>
  <%= @film.featured_actor %>
</p>

<p>
  <strong>Product title:</strong>
  <%= @film.product_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @film.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @film.genre_id %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @film.actor_id %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
